.public-page {
  .menu {
    &__primary {
      > .container {
        padding-top: calc-rem(20px);
        padding-bottom: calc-rem(6px);
      }

      .header-links .btn {
        display: none;
      }
    }
  }
}