.avatar {
    vertical-align: middle;
    width: $avatar-base;
    height: $avatar-base;
    border-radius: 50%;
    display: inline-block;
    margin: calc-rem(8px);

    @each $name,
    $size in ($avatars) {

        &.avatar-#{$name} {
            width: $size;
            height: $size;
        }

    }
}