.auth-page,
.public-page {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"],
  input[type='number'],
  input[type='search'],
  textarea {
    font-size: calc-rem(16px);
    line-height: calc-rem(32px);
    font-weight: 500;
    color: $color-green-dark-1;
  }

  label {
    color: $color-blue-dark-2;
    font-size: calc-rem(14px);
  }
  
  .input-element {
    position: relative;
    margin: calc-rem(4px) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="url"],
    input[type='number'],
    input[type='search'],
    textarea {
      padding: calc-rem(5px) calc-rem(16px);
      border-radius: $border-radius-md;
      border-width: 1px;
    }
  }

  .inputs-hollow {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="url"],
    input[type='number'],
    input[type='search'] {
      color: $color-white;
    }

    .select-custom-input {
      .select__control  {
        @extend %ele-hollow;
      }
    }
  }
  
  .field-link a {
    font-size: calc-rem(14px);
    font-weight: 500;
    line-height: calc-rem(22px);
    text-decoration: underline;
  }
}

.public-page {
  .form {
    &-footer {
      margin-top: calc-rem(74px);
    }
  }

  .input-checkbox {
    margin-top: calc-rem(26px);
  }

  @include media-breakpoint-down(md) {
    .form-footer {
      margin-top: calc-rem(24px);
    }
  }

  @include media-breakpoint-down(sm) {
    .form-footer {
      margin-top: calc-rem(6px);
    }
  }
}

.auth-page {
  .form {
    &-footer {
      margin-top: calc-rem(20px);
    }

    &-class {
      a {
        font-size: calc-rem(14px);
      }
    }
  }

  @include media-breakpoint-down(md) {
    .form-footer {
      margin-top: calc-rem(16px);
    }
  }

  @include media-breakpoint-down(sm) {
    .form-footer {
      margin-top: calc-rem(6px);
    }
  }
}

.aux-page {
  .input-element {
    margin: calc-rem(8px) 0;
  }

  label {
    color: $color-green-2;
    font-weight: 600;
  }
}