/* purgecss start ignore */

.icon-counter {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: xxx-large;
  background-color: #ff253a;
  border-radius: 1em;
  box-sizing: border-box;
  color: #fff;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em .5em;
  right: -.3em;
  text-overflow: ellipsis;
  top: -.3em;
  -webkit-transform: scale(.25);
  transform: scale(.25);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  
  &-wrapper {
    text-align: center;
    width: 1.25em;

    &-layer {
      display: inline-block;
      height: 1em;
      position: relative;
      text-align: center;
      vertical-align: -0.125em;
      width: 1em;
    }
  }
}

.basket {
  &__section {
    margin-bottom: calc-rem(20px);
    padding-bottom: calc-rem(24px);
    border-bottom: 2px solid $color-light-gray;
  }
  
  &__nft {
    display: flex;

    &-thumbnail {
      width: calc-rem(112px);
      height: calc-rem(120px);
      border-radius: $border-radius-md;
      overflow: hidden;
      margin-right: calc-rem(24px);
      position: relative;
    }
  
    &-price {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $color-primary;
      text-align: center;
      color: $color-white;
      font-family: $font-recoleta;
      font-weight: 500;
      padding: calc-rem(8px);
      line-height: 1;
    }

    &-details {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &-name,
    &-collection-name {
      color: $color-blue-dark-2;
    }

    &-collection-name {
      margin-bottom: calc-rem(10px);
    }

    &-order {
      display: flex;
      align-items: center;
      margin-top: auto;
    }

    &-quantity {
      display: flex;
      align-items: center;
      width: calc(50% + calc-rem(16px));
    }

    &-quantity-indicator {
      color: $color-gray-2;
      font-family: $font-avenir;
      margin: 0 auto;
    }

    &-remove {
      margin-left: auto;

      .svg-inline {
        fill: darken($color-gray-2, 9.80);
      }
    }
  }

  &__subtitle {
    font-size: calc-rem(20px);
    color: $color-blue-dark-2;
    font-family: $font-avenir;
    margin-bottom: calc-rem(16px);
  }

  &__orders {

    &-list li {
        display: flex;
        align-items: center;
        border: none !important;
    }

    &-label,
    &-price {
      font-size: calc-rem(14px);
    }

    &-quantity {
      font-weight: 600;
      color: $color-primary;
      margin-right: 0.5ch;
    }

    &-price {
      margin-left: auto;
      font-weight: 700;
      color: $color-blue-dark-2;
    }
  }
}
/* purgecss end ignore */