.rdw-editor {
  &-wrapper {
    border: 2px solid $color-light-gray;
  }
  &-main {
    padding: 10px;
    font-size: calc-rem(12px) !important;
    line-height: 18px !important;
    max-height: 300px;

    span {
      font-size: calc-rem(12px) !important;
      line-height: 18px !important;

      span {
        font-weight: inherit !important;
      }
    }
  }
}
