header {
    width: 100%;

    &.login{
        position: absolute;
        z-index: 22;
        a{
            display: none;
        }
    }
    
    margin-bottom: calc-rem(14px);

    .branding {
        display: flex;
        align-items: flex-end;

        &__mark {
            width: calc-rem(48px);
            margin-right: calc-rem(8px);
        }

        &__moto {
            font-size: calc-rem(10px);
            text-transform: uppercase;
            color: $color-gray-2;
        }
    }
}

.main-header{
    position: relative;
    z-index: 0;
    @include transition((background-color, margin-bottom), .25s);

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &-overlay {
            @include absolute-fullsize;
            background-color: rgba(darken($color-green-1, 5.88), .4);

            &::before,
            &::after {
                content: '';
                @include  absolute-fullsize;
            }

            &::before {
                background: linear-gradient(180deg, rgba($color-black,  0) 0%, rgba($color-black, .5) 100%);
            }

            &::after {
                background: linear-gradient(0, rgba($color-black, 0) 0%, rgba($color-black, .8) 100%);
            }
        }
    }

    button.aside-menu__burger{
        display: none;
        min-width: auto;
        padding: 0;
        >svg{
            width: 30px;
            height: 24px;
        }
    }

    .welcome-user {
        display: inline-block;
        margin-right: 1rem;
        font-weight: 500;
        font-size: calc-rem(12px);
        
        a {
            color: $color-primary;
            text-decoration: underline;
            margin-left: 1ch;
            font-weight: 500;

            &:hover {
                color: $color-gray-1;
            }
        }
    }

    .anchor-wrapper{
        display: flex;
        align-items: center;

        .user-icon {
            font-size: 1.2rem;
            margin-right: 12px;
            fill: $color-primary;
        }
    }

    @media screen and (max-width:$breakpoint-tablet) {
        .container{
            padding-left: 0;
            padding-right: 0;
            align-items: center;
            img{
                height: 42px;
                width: 115px;
            }
        }
        button.aside-menu__burger{
            display: block;
        }
    }
    @media screen and (max-width:576px) {
        padding: 0 2rem;
    }
}

.header {
    &__top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include transition(background-color, .25s);
    }

    &__nav-links {
      @extend .flex-space-between;
      position: absolute;
      width: 100%;
      bottom: calc-rem(56px);
    }

    &__item {
        &-preview {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: calc-rem(30px) 0 calc-rem(-98px);
    
            h4 {
                color: $color-white;
                font-weight: 400;
                margin: calc-rem(5px) 0;
    
                span {
                    color: $color-green-2;
                }
            }
        }
    
        &-thumbnail {
            width: calc-rem(125px);
            height: calc-rem(125px);
            border: 2px solid $color-white;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
    }

    &__details {
        background-color: darken($color-green-dark-1, 7.06);

        .container {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        a {
            margin-top: 0;
            margin-bottom: 0;
        }

        &--open {
            .header__details-links {
                margin-bottom: calc-rem(32px);
            }
        }
        
        &-links--mobile {
            display: none;
        }

        &-title {
            font-size: calc-rem(22px);
            line-height: calc-rem(30px);
            color: $color-white;
            margin-bottom: calc-rem(20px);
        }

        &-text {
            max-height: calc-rem(150px);
            overflow-y: auto;
            word-break: break-word;
        }

        &-body {
            margin-top: calc-rem(20px);
        }

        &-footer {
            text-align: center;
            margin-bottom: calc-rem(-74px);

            button {
                width: calc-rem(135px);
            }

            &--tabs {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: calc-rem(30px);
                margin-bottom: calc-rem(-36px);
            }
        }
    }

    @media screen and (max-width:$breakpoint-tablet) {
        &__item {
            &-thumbnail {
                width: calc-rem(96px);
                height: calc-rem(96px);
            }

            &-preview {
                margin-bottom: calc-rem(-82px);

                h4 {
                    margin-bottom: calc-rem(20px);
                }
            }
        }

        &__details {
            &--open .header__details-links {
                margin-bottom: 1rem;
            }

            &-title {
                font-size: calc-rem(18px);
                line-height: calc-rem(26px);
                margin-bottom: 14px;
            }

            &-links {
                &--desktop {
                    display: none;
                }
                &--mobile {
                    display: block;
                    position: relative;
                    z-index: 10;
                }
            }

            &-wrapper-mobile {
                margin-top: calc-rem(24px);
            }

            &-footer {

                &--tabs {
                    // margin-bottom: calc-rem(-36px);

                    .btn-dark {
                        transform: none;
                    }
                }
                
                &--wrapper-mobile {
                    margin-bottom: calc-rem(40px);
                }

                // .tabs__block {
                //     &-item {}
                // }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        &__details {
            &--with-tabs {
                margin-bottom: calc-rem(52px);
            }

            &-footer {
                &--tabs {
                    position: relative;
                    justify-content: center;
                }

                .tabs__block {
                    position: absolute;
                    bottom: calc-rem(-72px);
                    width: calc(100% + calc-rem(8px));

                    &-item {
                        border-radius: $border-radius-md;
                        width: calc(50% - calc-rem(8px));
                    }
                }
            }
        }
    }
}