.homepage {
  &__favorites {
    background-color: lighten(desaturate($color-green-2, 32.92), 0.98);
    padding: calc-rem(65px) 0 calc-rem(96px);

    h3 {
      font-family: $font-montserrat;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-white;
      margin-bottom: calc-rem(32px);
    }

    .card {
      &__body-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
      }
    }

    &--slider {
      .slick-arrow {
        &.slick-next {
          right: -6%;
        }

        &.slick-prev {
          left: -6%;
        }
      }
    }

    @media only screen and (max-width: 1336px) {
      &--slider {
        .slick-arrow {
          &.slick-next {
            right: 0;
          }

          &.slick-prev {
            left: 0;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      padding: calc-rem(40px) 0 calc-rem(30px);

      h3 {
        font-size: calc-rem(16px);
        margin-top: calc-rem(16px);
        margin-bottom: calc-rem(14px);
      }

      .card {
        margin: calc-rem(5px) 0;

        &__thumbnail {
          width: calc-rem(64px);
          height: calc-rem(64px);
        }

        &__body-wrapper {
          flex-direction: column;
          align-items: flex-start;
        }

        &__footer {
          align-self: flex-start;
          margin-top: calc-rem(6px);
        }
      }
    }
  }
}