.homepage {  
  &__subtitle {
    font-size: calc-rem(24px);
    line-height: calc-rem(34px);
    font-weight: 400;
  }

  @include media-breakpoint-down(md) {
    &__subtitle {
      font-size: calc-rem(18px);
      line-height: calc-rem(30px);
    }
  }
}