.dropzone-upload-image {
  margin: 15px 0;

  .dropzone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 175px;
    background-color: rgba($color-primary, 0.07);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border-radius ;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:hover{
      border-color: lighten($color-primary, 40%);
    }

    .dropzone-placeholder{
      background-color: $color-light-gray;
      padding: 25px;
      border-radius: $border-radius;
    }

    p {
      color: $color-gray-1;
      font-weight: 500;
      font-size: calc-rem(12px);
      line-height: 1.2rem;
    }

    .dropzone-text-b {
      font-weight: 700;
      
      span {
        font-size: calc-rem(12px);
        font-weight: 700;
        color: $color-primary;
      }
    }

    .icon-upload {
      font-size: 2rem;
      margin-bottom: calc-rem(10px);
      fill: $color-primary;
    }

  }
}

.dropzone-dashed {
  .dropzone-upload-image {
    .dropzone {
      background-color: transparent;
      border: 2px dashed $color-primary;
      min-height: calc-rem(240px);
  
      .dropzone-text-b {
        color: $color-primary;
        font-size: calc-rem(16px);
        font-weight: 400;
        line-height: calc-rem(24px);
        letter-spacing: -0.32px;
        text-align: center;
      }
    }
  
  }

  > p {
    @extend .text-white;
    font-size: calc-rem(12px);
    line-height: calc-rem(20px);
    letter-spacing: -.24px;
  }
}

.dropzone-image-square .dropzone-upload-image,
.image-square,
.image-col-height {
  position: relative;

  .dropzone,
  .image-square-wrapper {
    padding: 0 0 100%;
  }

  .image-square-img,
  .image-col-height-img {
    @include absolute-fullsize;
  }

  .icon-upload {
    position: absolute;
    top: calc(50% - 40px);
  }

  .dropzone-text-b {
    position: absolute;
    top: calc(50% + calc-rem(10px));
    text-align: center;
    line-height: calc-rem(20px);
  }
}

.image-square,
.image-col-height {
  border-radius: $border-radius;
  overflow: hidden;
}

.image-col-height {
  height: 100%;

  &-with-label {
    height: calc(100% - calc-rem(38px));
  }
}